@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <ProductListItemComponent Products="_products"></ProductListItemComponent>
    </tbody>
</table>

@code {
    private List<Product> _products { get; set; } = new List<Product>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        _products = (await ViewProductsByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
    }

}
